<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	<context:component-scan base-package="spring_ex3"></context:component-scan>
	<!--component어노테이션을 사용하면 해당 패키지에 있는 클래스 중 
	component어노테이션이 붙은 클래스는
	bean태그 없이 클래스 이름을 사용해서 
	bean클래스를 자동으로 만듦-->
</beans>
